.navbar {
  border-bottom-color: #ac1927;
  border-bottom-width: 3px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: sans-serif;
}

.logo {
  height: 300px ;
  transition: height 1s ease 0s ;
  display: block ;
}

.logo:hover {
  height: 350px 
}

.logodiv {
  position: absolute;
}
