.underline {
  border-bottom-color: #ac1927;
  border-bottom-width: 3px;
  background-color: #222;
}

.logo {
  height: 300px;
  margin-top: -40px;
  margin-left: 30px;
  padding-right: 15px;
  transition: height 1s ease 0s;
}

.logo:hover {
  height: 350px;
  margin-top: -40px;
}

.logodiv {
  position: absolute;
}

.navi {
  color: white;
  font-size: 1em;
  font-weight: 700;
  font-family: sans-serif;
}

.navi:hover {
  color: #ac1927;
}
